:root {
    --primary: #3b82f6;
    --bg: #f9fafb;
    --text: #1f2937;
}

/* DARK MODE */
body.dark {
    --bg: #0f172a;
    --text: #f1f5f9;
}

/* BASE */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: var(--text);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

body.dark header {
    background: #1e293b;
}

/* HERO */
#home {
    text-align: center;
    padding: 100px 20px;
}

/* SKILLS */
.skill {
    margin: 20px;
}

.bar {
    background: #ddd;
    height: 10px;
    border-radius: 10px;
}

.progress {
    height: 10px;
    border-radius: 10px;
    background: var(--primary);
}

.html { width: 90%; }
.css { width: 85%; }
.js { width: 80%; }

/* PROJECT */
.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

body.dark .card {
    background: #1e293b;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* BUTTON */
button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px;
}

/* ANIMASI */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media(max-width:768px){
    nav { display:none; }
    nav.active { display:block; }
}
