:root {
    --primary: #3b82f6;
    --accent: #22c55e;
    --bg: #f9fafb;
    --text: #1f2937;
}

/* RESET */
* {
    margin: 50px;
    padding: 100px;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: var(--text);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo span {
    color: red;
}

/* NAV */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text);
}

nav a:hover {
    color: var(--primary);
}

/* MENU MOBILE */
.menu-toggle {
    display: none;
    font-size: 24px;
}

/* HERO */
#home {
    text-align: center;
    padding: 100px 20px;
}

#home span {
    color: var(--primary);
}

/* SECTION */
section {
    padding: 50px 20px;
    text-align: center;
}

/* PROJECT */
.project-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* BUTTON */
button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
}

button:hover {
    background: var(--accent);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}

/* ANIMASI */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {

    nav {
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        background: red;
        width: 200px;
        padding: 20px;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }
}
